Repository WebservDreamTeam/DreamXWebserv, pull requests merged in 2022-03, with the labels that each got.

#1 branch test
  server/server.hpp
Labels: good first issue, help wanted

#5 Feat : Compose Server
  fileUpload.html
  response.html
  server/server.hpp
Labels: enhancement, server

#7 Feat : Implement Server compose
  .vscode/settings.json
  server/LocationBlock.cpp
  server/LocationBlock.hpp
  server/Server.cpp
  server/ServerBlock.cpp
  server/ServerBlock.hpp
  server/server.hpp
Labels: enhancement, server

#9 Feat : Compose server
  .vscode/settings.json
  server/ComposeServer.cpp
  server/LocationBlock.cpp
  server/RunServer.cpp
  server/Server.cpp
  server/ServerBlock.cpp
  server/ServerBlock.hpp
  server/ServerComp.cpp
  server/Util.cpp
  server/Util.hpp
  testcode/block.conf
  testcode/servtest.cpp
Labels: enhancement, server

#10 Feat : Read request
  server/ComposeServer.cpp
  server/RunServer.cpp
  server/ServerBlock.hpp
  server/Util.hpp
Labels: enhancement, server

#14 Feat : server, location block multiple process
  parsing/Makefile
  parsing/default
  parsing/nginx.conf
  parsing/src/HttpBlock.cpp
  parsing/src/HttpBlock.hpp
  parsing/src/LocationBlock.cpp
  parsing/src/LocationBlock.hpp
  parsing/src/Manager.cpp
  parsing/src/Manager.hpp
  parsing/src/ServerBlock.cpp
  parsing/src/ServerBlock.hpp
  parsing/src/Utils.cpp
  parsing/src/Utils.hpp
  parsing/src/main.cpp
Labels: enhancement, parsing

#15 Refactor : functional segmentation
  parsing/src/HttpBlock.cpp
  parsing/src/Manager.cpp
  parsing/src/Manager.hpp
  parsing/src/ServerBlock.cpp
  parsing/src/Utils.cpp
  parsing/src/Utils.hpp
  parsing/src/main.cpp
Labels: enhancement, parsing
