Repository WebservDreamTeam/DreamXWebserv, pull requests merged in 2022-04, with the labels that each got.

#24 Feat : Response Compose classfication
  ComposeResponse/.DS_Store
  ComposeResponse/DPT
  ComposeResponse/Makefile
  ComposeResponse/obj/ComposeResponse.o
  ComposeResponse/obj/main.o
  ComposeResponse/src/ComposeResponse.cpp
  ComposeResponse/src/ComposeResponse.hpp
  ComposeResponse/src/main.cpp
  ComposeResponse/src/servtest.cpp
Labels: enhancement, ComposeResponse

#27 Feat : set environment
  ComposeResponse/DPT
  ComposeResponse/obj/ComposeResponse.o
  ComposeResponse/obj/main.o
  ComposeResponse/src/ComposeResponse.cpp
  ComposeResponse/src/ComposeResponse.hpp
  ComposeResponse/src/main.cpp
Labels: enhancement, ComposeResponse

#28 Feat : Redirect
  webserv/Makefile
  webserv/default
  webserv/includes/ComposeResponse.hpp
  webserv/includes/LocationBlock.hpp
  webserv/includes/Manager.hpp
  webserv/includes/ServerBlock.hpp
  webserv/includes/WebServer.hpp
  webserv/src/ComposeServer.cpp
  webserv/src/HttpBlock.cpp
  webserv/src/LocationBlock.cpp
  webserv/src/ProcessMethod.cpp
  webserv/src/RunServer.cpp
  webserv/src/ServerBlock.cpp
  webserv/state_pages/200.html
  webserv/state_pages/403.html
  webserv/state_pages/404.html
  webserv/state_pages/500.html
  webserv/state_pages/501.html
Labels: enhancement, server

#31 Refactor : Create client class
  webserv/includes/ComposeResponse.hpp
  webserv/includes/Manager.hpp
  webserv/src/Manager.cpp
  webserv/src/ProcessMethod.cpp
  webserv/src/RunServer.cpp
Labels: enhancement, server, errorpage, Refactor

#34 Feat : Finish write event
  webserv/includes/ClientControl.hpp
  webserv/includes/LocationBlock.hpp
  webserv/includes/Manager.hpp
  webserv/includes/ServerBlock.hpp
  webserv/includes/Utils.hpp
  webserv/includes/WebServer.hpp
  webserv/src/ComposeServer.cpp
  webserv/src/HttpBlock.cpp
  webserv/src/ProcessMethod.cpp
  webserv/src/RunServer.cpp
  webserv/src/main.cpp
  webserv/state_pages/autoindex.html
  webserv/state_pages/error.html
  webserv/state_pages/index.html
  webserv/state_pages/test.html
Labels: bug, server, errorpage, Refactor

#42 Sonkang
  ComposeResponse/src/ComposeResponse.cpp
  ComposeResponse/src/ComposeResponse.hpp
  ComposeResponse/src/main.cpp
Labels: enhancement, ComposeResponse

#46 Sonkang
  ComposeResponse/Makefile
  ComposeResponse/src/ClientControl.cpp
  ComposeResponse/src/ClientControl.hpp
  ComposeResponse/src/main.cpp
Labels: enhancement, ComposeResponse

#48 Feat : processMultipart
  ComposeResponse/src/ClientControl.cpp
  ComposeResponse/src/ClientControl.hpp
Labels: enhancement, ComposeResponse

#58 Feat : Add LocationBlock Directive
  webserv/DreamX
  webserv/includes/LocationBlock.hpp
  webserv/obj/ClientControl.o
  webserv/obj/ComposeServer.o
  webserv/obj/HttpBlock.o
  webserv/obj/LocationBlock.o
  webserv/obj/Manager.o
  webserv/obj/RunServer.o
  webserv/obj/ServerBlock.o
  webserv/obj/Utils.o
  webserv/obj/main.o
  webserv/src/HttpBlock.cpp
  webserv/src/LocationBlock.cpp
  webserv/src/ServerBlock.cpp
Labels: enhancement, server

#67 Fix : Error and EOF check
  webserv/YoupiBanane/post_body
  webserv/includes/ClientControl.hpp
  webserv/src/ClientControl.cpp
  webserv/src/RunServer.cpp
  webserv/state_pages/413.html
Labels: bug, enhancement, server, parsing, errorpage, Refactor
